@charset "utf-8";
* {
	margin: 0px; 
	padding: 0px;
}

html, body {
	height: 100%;
}

#who {	
	height: 100%;
	float:left;width:50%;
	text-align: center;
	font-size: 30px;
	right: 50%;
	background-color: #56E37B;
}
#what > a {
	height: 100%;
}
#what {	
	height: 100%;
	background-color: #f0f0f0;
	float:left;width:50%;
	text-align: center;
	font-size: 30px;
}