@charset "utf-8";
@media all and (min-width: 800px) and (max-width: 1024px) {...}
h1 {
	text-align: center;
	color:#808080;
	font-size:80px;
	margin-top: 140px;
	margin-bottom: 120px;

}
.designer {
	float:left;width:50%;
	text-align: center;
}
.developer {
	float:left;width:50%;
	text-align: center;
}
.title {
	color:#000000;
	font-size:30px;	
	margin-bottom: 10px;
}
.text {
	color:#696969;
	font-size:20px;	
}
