.thumb_1 {
	background-image: url("file:///C:/Users/yunjin/Documents/GitHub/JJProject/HomePage/yjkim/pic_1.png");
	background-size: cover;
}

.thumb_2 {
	background-image: url("file:///C:/Users/yunjin/Documents/GitHub/JJProject/HomePage/yjkim/pic_2.png");
	background-size: cover;

}

.thumb_3 {
	background-image: url("file:///C:/Users/yunjin/Documents/GitHub/JJProject/HomePage/yjkim/pic_3.jpg");
	background-size: cover;
}